.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.body {
  background-color: #f8f8ff;
}
.projects {
  height: 100vh;
}
.resume {
  height: 100vh;
}
.project-image {
  max-width: 100%;
  height: auto;
  padding: 20px;
}
.project-title {
  text-align: center;
}
img {
  height: auto;
  width: auto;
  max-width: 300px;
}
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
